@import 'styles/base/variables.css';

.header {
  composes: padding from '../../../../styles/base.css';
  padding: 0px;
  /* position: fixed; */
  background-color: var(--bluesky);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  height: 75px;
}

.logo {
  margin-top: 12px;
  position: relative;
  z-index: 9;
  width: 76px;
  height: 76px;
  display: inline-block;
  background-image: url(./images/logo.svg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 76px auto;
}
