@import "./../../../../styles/base/variables.css";

.contentWrap {
  @neat-span-columns 12;
}

.App {
  text-align: center;
}
  
.App-logo {
  animation: AppLogoSpin infinite 20s linear;
  height: 80px;
}
  
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes AppLogoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
